/*Login.css*/
.login-container {
    height: 100vh;
    background-color: var(--background-primary-color);
    align-items: center;
    justify-content: center;
}

.login-card {
    background-color: var(--card-color);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--text-primary);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
}

.subtitle {
    font-size: 1.6rem;
    color: var(--primary-text);
    margin-bottom: 1.5rem;
}

.login-form .form-control {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--text-primary);
}

.login-form .form-control::placeholder {
    color: var(--text-secondary);
}

.login-form .form-control:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

.sign-in-btn {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    margin-top: 0.75rem;
    width: 100%;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sign-in-btn:hover {
    background-color: var(--hover-color);
}

.signup-text {
    font-size: 0.875rem;
    color: var(--text-secondary);
    margin-top: 1rem;
    text-align: center;
}

.signup-text a {
    color: var(--primary-color);
    text-decoration: none;
}

.signup-text a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

.app-password-input-wrapper, .app-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    height: 48px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: transparent;
    gap: 8px;
  }

.app-password-input, .app-email-input {
    flex: 1;
    background: transparent;
    border: none;
    font-size: 15px;
    color: var(--text-primary);
    outline: none;
    padding: 0;
    margin: 0;
}

.forgot-password-link {
    color: var(--primary-color);
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.app-password-input-wrapper:focus-within, .app-input-wrapper:focus-within {
    border-color: #ff7300;
}

.input-icon {
    margin-right: 8px;
    color: var(--text-secondary);
}

.password-toggle-btn {
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    padding: 0;
}
  